@font-face {
   font-family: fonteOficial;
   src: url(../_fonts/BITSUMIS.TTF);
}

body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.6;
}

.entrar{
  margin: auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 400px;
  max-height: 200px;
  border-radius: 5px;
}

.somos{
  text-align: center;
  font-family: 'fonteOficial';
  font-size: 20pt;
  color: #fff;  
}

.textoLogo{
  text-align: center;
}

a.exact{
font-family: 'fonteOficial';
  font-size: 38pt;
  color: #33354E;
}

a.control{
  font-family: 'fonteOficial';
  font-size: 38pt;
  color: #DE352C;
}

div.btn{
  
  margin-left: 110px;

}