@font-face {
   font-family: fonteOficial;
   src: url(../_fonts/BITSUMIS.TTF);
 }

 @font-face {
   font-family: fonteCaviar;
   src: url(../_fonts/CaviarDreams.ttf);
 }

body {
      position: relative;
      /*background-color: #000000 !important;*/
      
}

/*

  div#section0{
    background-image: none!important;
  
  }

  img.topoMobile{
    max-width: 300px!important;
  }img.topoMobileAuto{
    max-width: 150px!important;
  }




*/
@media (max-width: 800px){


  div#section0{
    background-size: 100%;
    
    
    background-position: left bottom!important; 
  
  }

  img.topoMobile{
    max-width: 300px!important;
  }img.topoMobileAuto{
    max-width: 150px!important;
  }

  div#hiddeDesktop{
    display: block!important;
  }

  .hiddeMobile{
    display: none;
  }

  a#showLeft{
    display: block!important;
  }
  a#showRight{
    display: block!important;
  }

  div#hiddeDesktop{
    display: block!important;
  }

  div#catalogoSegundaOpcao{
    display: none!important;
  }

  div#section4{
    height: auto!important;
  }

  img#imgAnalises{
    max-width: 250px!important;
  }

}

div.hiddeDesktop{
  display: none!important;
}

a.hiddeDesktop{
  display: none!important; 
}

img.hiddeDesktop{
  display: none;
}


/* /////////////////////
Seção 0 - Topo
//////////////////////*/

div#section0{background-image: url("../_imagens/_logos/topo.jpg");background-repeat: no-repeat;background-color:#FFF;height:200px;}

img#logo1{
  width: 618px;
  float: right;
  margin-top: 50px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

img#autoInicio{
  float: right!important;
  max-width: 300px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

p#textoInicioTelefone{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 18pt;
  color: #000; 
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}


/*Fim da seção 0*/



/* /////////////////////
Menu de Navegação
//////////////////////*/

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


.affix a {
  /*color: #fff !important;
  padding: 15px !important;*/
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.affix-top a {
  /*padding: 30px !important;*/
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
      
}


.affix ~ .container-fluid {
  position: relative;
  top: 50px;
}

.navbar {
  margin-bottom: 0px;
}
.navbar-inverse{
  /*border-style: none!important;*/
}

.navbar-header{
  background-color: #fff;
  padding-left: 10px;
  margin-right: 15px!important;

}
.navbar-brand{
   background-color: #fff;
   border-radius: 10px;
   padding: 12px 15px 15px 15px!important;
}

.navbar li a:hover, .navbar li.active a {
      color: #31416B !important;
      background-color: #fff !important;
  }

img.logoMenu {
  vertical-align:bottom;
  position:relative;
  border-radius: 10px;
  margin-bottom: 2px;
}

.divlogoMenu{
  background-color: #fff;
}




/*Fim do Menu de Navegação*/



/* /////////////////////
Seção 1 - Inicio
//////////////////////*/
#section1{height:auto;padding:0px;margin-top: 20px;}

#carouselInicio .nav a small {
    display:block;
}
#carouselInicio .nav {
  background:#eee;
}
#carouselInicio .nav a {
    border-radius:0px;
}

#carouselInicio{
  /*overflow: hidden;*/
}


.CaptionCarousel01{
  /*background-color: rgba(30,144,255, 0.9);*/
  background-color: #e8e5e5;
  text-align: center !important;
  text-shadow: 0px 0px 0px !important;
  color: #000 !important;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 16pt;
  /*width: 100%;*/
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  height: 100% !important;
  width: 100%;
  
}

.textoCarousel{
  -webkit-animation-delay: 0.5s;
  font-size: 16pt;
}

.carouselLogo{
  position: absolute;
}
.carouselLogo01{
  max-width: 300px;
  top: 50px;
  left: 40px;
  -webkit-animation-delay: 1.3s;
}
.carouselLogo02{
  max-width: 300px;
  top: 185px;
  left: 30px;
  -webkit-animation-delay: 1.6s;
}
.carouselLogo03{
  max-width: 300px;
  top: 240px;
  left: 20px;
  -webkit-animation-delay: 1.9s;
}
.carouselLogo04{
  max-width: 500px;
  top: 60px;
  left: 420px;
  -webkit-animation-delay: 0.9s;
}
.carouselLogo05{
  max-width: 300px;
  top: 50px;
  right: 60px;
  -webkit-animation-delay: 2.3s; 
}
.carouselLogo06{
  max-width: 300px;
  top: 185px;
  right: 60px;
  -webkit-animation-delay: 2.5s;
}

.carouselLogo07{
  max-width: 300px;
  top: 240px;
  right: 60px;
  -webkit-animation-delay: 2.8s; 
}

.textoCarousel2{
  max-width: 300px;
  margin-top: 180px;
  -webkit-animation-delay: 2.5s;
  font-size: 16pt;
}

.carouselLogo08{
  top: 270px;
  right: 300px;
  -webkit-animation-delay: 2.6s;
}


.CaptionCarouselSensor{
  background-color: rgba(192,192,192, 0.6);
  text-align: left !important;
  font-family: Montserrat, sans-serif;
  font-size: 11pt;
  font-style: normal;
  text-shadow: 0px 0px 0px !important;
  color: #000 !important;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  height: 100%;
  max-width: 230px;
  -webkit-animation-delay: 0.5s;
}

.CaptionCarouselMedida{
  background-color: rgba(255,255,255, 0.4);
  text-shadow: 0px 0px 0px !important;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: #000 !important;
  top: 0px !important;
  left: 0px !important;
  width: 100%;  
  height: 100px;
  -webkit-animation-delay: 0.5s;
}

.CaptionCarouselFiltro{
  background-color: rgba(255,255,255, 0.2);
  text-shadow: 0px 0px 0px !important;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 14pt;
  left: auto !important;
  color: #000 !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  height: 100%;
  width: 300px;
  -webkit-animation-delay: 0.5s;
}

.CaptionCarouselFiltro2{
  background-color: rgba(255,255,255, 0.7);
  text-shadow: 0px 0px 0px !important;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 14pt;
  left: auto !important;
  color: #000 !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  height: 100%;
  width: 300px;
  -webkit-animation-delay: 0.5s;
}


.CaptionCarouselPresenca{
  background-color: rgba(192,192,192, 0.6);
  text-shadow: 0px 0px 0px !important;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 14pt;
  left: auto !important;
  color: #000 !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  height: 100%;
  width: 300px;
  -webkit-animation-delay: 0.5s;
}

.captionPresenca{
  max-width: 270px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 13pt;
}

/*
img.nodes {
   max-width: 100%;
  -moz-transition: all 3s;
  -webkit-transition: all 3s;
  transition: all 3s;
}

div.imgNodes:first-child{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
*/

/*
Efeito na imagem
img.nodes{
  width: 971px;
  -webkit-animation: zoomin 5s;
  -moz-transition: all 5s;
  -webkit-transition: all 5s;
  transition: all 5s;
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

}

*/

/*Fim da seção 1*/



/* /////////////////////
Seção 2 - Nossa Historia
//////////////////////*/
#section2 {height:auto;color: #000; background-color: #fff;}/*Quem somos ff9800 EC5470 DC405A*/

p#quemsomos_tit{
  font-family: Montserrat, sans-serif;
  font-size: 18pt;
  color: #000; 
  margin-top: 60px
  
}

p#quemsomos_des{
  font-family: Montserrat, sans-serif;
  font-size: 12pt;
  color: #000;  
}

img#imgNossaHistoria{
  max-width: 400px;
}

/*Fim da seção 2*/



/* /////////////////////
Seção 3 - Produtos
//////////////////////*/
#section3 {height:auto;  color: #000; background-color: #FFF;}/*f1f1df FFFFE0 B0C4DE Produtos Bege = f5f5dc*/

.selecionarProdutos{
  margin: auto;
  max-width: 200px;
  margin-bottom: 20px;
}

.divOwlCarousel{
  /*display: none;*/
  -webkit-animation-delay: 0.5s;
  margin-bottom: 60px;
}

div#pog{
  max-height: 352px;
  overflow: hidden;
}

.owl-carousel .item {
  margin-left: 20px;
}


#owl-produtos-01 img{
  max-height: 200px !important;
  /*max-width: 160px;*/
}

#owl-produtos-geral img{
  max-height: 250px !important;
  /*max-width: 160px;*/
}

#owl-produtos-08 img{
  max-height: 124px !important;
  max-width: 230px !important;
}

#owl-produtos-09 img{
  max-height: 225px !important;
  max-width: 294px !important;
}


#descricao-indrodutoria2{
  font-family: Montserrat, sans-serif;
  font-size: 13pt;
}

#catalogo{
  font-family: Montserrat, sans-serif;
  font-size: 12pt;

}



.linhaDivisoria{
  height: 10px;
  background: linear-gradient(90deg, #324569 50%, #E53739 50%);
}


/*Fim da seção 3*/



/* /////////////////////
Seção 4 - Serviços
//////////////////////*/
#section4 {height:800px;color: #000; background-color: #FFF;}/*Serviços 00bcd4 F0F8FF  009688 6A80B6*/

div#servicos_topo{
  margin-top: 80px;
  font-family: Montserrat, sans-serif;
  font-size: 11.5pt;
  color: #000;
}

.imgServicos{
  max-width: 900px;
}

p#pservicos{
  margin-top: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 12pt;
}

div#demo1,#demo2,#demo3,#demo4,#demo5{
  margin-top: 10px;
}

div#collapse_servicos{
  margin-top: 20px;
}

.servicosPrincipal{
  margin-bottom: 20px;
}
/*Fim da seção 4*/



/* /////////////////////
Seção 5 - Fornecedores
//////////////////////*/
#section5 {height: auto!important; padding:0px; color: #fff; background-color: #ffffff;}/*Carousel*/

/* Carousel*/
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
  background-color: #2B4F7D;
}

.carousel .item {
  background-color: #2B4F7D;
}

.carousel-inner {
  /*border-radius: 15px;*/
}

.carousel-caption {
  z-index: 10;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
/*Animação*/
.slide_carousel{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.slide_carousel2{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
}

/* Carousel - Fornecedores*/

/*Fim da seção 5*/



/* /////////////////////
Seção 6 - Localização
//////////////////////*/
#section6 {height:650px;color: #000; background-color: #fff;}/*Localização*/

div#localizacao_topo{
  margin-top: 80px;  
}

div#divmaps{
  width: 100%;
  margin-top: 20px;
}

.maps{
  width: 100%;
  pointer-events: none;
  border-radius: 5px;
}

.clicked{
  width: 100%;
  pointer-events: auto;
  border-radius: 5px;
}

div#endereco{
   margin-top: 10px;
}

div#endereco p{
  font-family: Montserrat, sans-serif; 
  font-size: 13pt;
  margin-bottom: 0px;
  align-content: center;
}




/*Fim da seção 6*/



/* /////////////////////
Seção 7 - Contato
//////////////////////*/
#section7 {height:auto;color: #000; background-color: #fff;}/*Fale conosco*/

div#formulario{
  margin-top: 80px;
  margin-bottom: 40px;
}
/*Fim da seção 7*/

p#sucessoEnvio{
  margin-top: 20px;
  font-family: 'Arial';
  font-size: 13pt;
  
}

span.glyphicon-ok{
  color: #4AAE52;
}

.labelForm{
  color: #000000 !important;
}

/* /////////////////////
Seção 8 - Rodapé
//////////////////////*/
#section8 {height:250px; background-color: #3f3f3f; overflow: hidden;position: relative;} /*2A4B76 -> 1C1C1C 313431 #282828<-*/

div#footer{
  z-index: 1;
  color: #fff;
  max-width: 300px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.redTop{
  position: relative;
  z-index: 1!important;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

span.glyphicon-chevron-up {
    font-size: 1.6em;
}

p.textoRodape{
  position: relative;
  font-family: 'Arial';
  font-size: 12pt;
}

#socialf{
  width: 300px;
  text-align: center;
  z-index: 1;
  /*margin-right: auto;
  margin-left:auto;*/
}


img.nodesRodape{
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
  
}

#section8:hover img.nodesRodape {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}





/*Fim da seção 8*/





div#produtos_topo{
  margin-top: 80px;
  font-family: Montserrat, sans-serif;  
}


.nossosValores {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

.missao {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

  .fundo_cinza {
      background-color: #f6f6f6;
  }

.recuo{
  text-indent:4em;
}

.icone-maior {
      color: #2A4E7C;
      font-size: 200px;
  }

.esconderParaDeslizar {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 480px) {
    .icone-maior {
        font-size: 150px;
    }
  }