@font-face {
   font-family: fonteOficial;
   src: url(../_fonts/BITSUMIS.TTF);
 }

 @font-face {
   font-family: fonteCaviar;
   src: url(../_fonts/CaviarDreams.ttf);
 }

body {
      position: relative;
      /*background-color: #000000 !important;*/
      
}

/* /////////////////////
Seção 0 - Topo
//////////////////////*/

div#section0{background-image: url("../_imagens/_logos/topo.jpg");background-repeat: no-repeat;background-color:#FBFAFE;height:200px;}

img#logo1{
  width: 618px;
  float: right;
  margin-top: 20px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

p#textoInicio{
  font-family: 'Dosis', sans-serif;
  font-size: 30pt;
  color: #000; 
  margin-top: 50px;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

p#textoInicioTelefone{
  font-family: 'Dosis', sans-serif;
  font-size: 20pt;
  color: #000; 
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}


/*Fim da seção 0*/



/* /////////////////////
Menu de Navegação
//////////////////////*/

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;      
}

.affix a {
  /*color: #fff !important;*/
  padding: 15px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.affix-top a {
  padding: 30px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
      
}

.affix ~ .container-fluid {

  position: relative;
  top: 65px;
}

.navbar {
  margin-bottom: 0px;
}
/*Fim do Menu de Navegação*/



/* /////////////////////
Seção 1 - Inicio
//////////////////////*/
#section1{height:auto;padding:0px;margin-top: 40px;}

#carouselInicio .nav a small {
    display:block;
}
#carouselInicio .nav {
  background:#eee;
}
#carouselInicio .nav a {
    border-radius:0px;
}

#carouselInicio{
  overflow: hidden;
}

.CaptionCarouselHid{
  background-color: rgba(30,144,255, 0.9);
  text-align: left !important;
  text-shadow: 0px 0px 0px !important;
  color: #fff !important;
  font-family: 'Cabin';
  font-size: 13pt;
  /*width: 100%;*/
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  height: 100% !important;
  max-width: 280px;
  -webkit-animation-delay: 0.5s;
}

.CaptionCarouselSensor{
  background-color: rgba(192,192,192, 0.6);
  text-align: left !important;
  font-family: 'Cabin';
  text-shadow: 0px 0px 0px !important;
  color: #000 !important;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  height: 100%;
  max-width: 230px;
  -webkit-animation-delay: 0.5s;
}

.CaptionCarouselMedida{
  background-color: rgba(255,255,255, 0.4);
  text-shadow: 0px 0px 0px !important;
  text-align: center;
  font-family: 'Cabin';
  color: #000 !important;
  top: 0px !important;
  left: 0px !important;
  width: 100%;  
  height: 100px;
  -webkit-animation-delay: 0.5s;
}

.CaptionCarouselPresenca{
  background-color: rgba(192,192,192, 0.6);
  text-shadow: 0px 0px 0px !important;
  text-align: center;
  font-family: 'Cabin';
  font-size: 14pt;
  left: auto !important;
  color: #000 !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  height: 100%;
  width: 300px;
  -webkit-animation-delay: 0.5s;
}

.captionPresenca{
  max-width: 270px;
  font-family: 'Cabin';
  font-size: 13pt;
}

/*
img.nodes {
   max-width: 100%;
  -moz-transition: all 3s;
  -webkit-transition: all 3s;
  transition: all 3s;
}

div.imgNodes:first-child{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
*/

/*
Efeito na imagem
img.nodes{
  width: 971px;
  -webkit-animation: zoomin 5s;
  -moz-transition: all 5s;
  -webkit-transition: all 5s;
  transition: all 5s;
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

}

*/

/*Fim da seção 1*/



/* /////////////////////
Seção 2 - Nossa Historia
//////////////////////*/
#section2 {height:auto;color: #000; background-color: #fff;}/*Quem somos ff9800 EC5470 DC405A*/

p#quemsomos_tit{
  font-family: 'Cabin', sans-serif;
  font-size: 18pt;
  color: #000; 
  margin-top: 60px
  
}

p#quemsomos_des{
  font-family: 'Cabin', sans-serif;
  font-size: 12pt;
  color: #000;  
}

img#imgNossaHistoria{
  max-width: 400px;
}

/*Fim da seção 2*/



/* /////////////////////
Seção 3 - Produtos
//////////////////////*/
#section3 {height:auto;  color: #000; background-color: #B0C4DE;}/*f1f1df FFFFE0 Produtos Bege = f5f5dc*/

.selecionarProdutos{
  margin: auto;
  max-width: 200px;
  margin-bottom: 20px;
}

.divOwlCarousel{
  /*display: none;*/
  -webkit-animation-delay: 0.5s;
  margin-bottom: 60px;
}

div#pog{
  max-height: 352px;
  overflow: hidden;
}

.owl-carousel .item {
  margin-left: 20px;
}


#owl-produtos-01 img{
  max-height: 200px !important;
  /*max-width: 160px;*/
}

#owl-produtos-geral img{
  max-height: 250px !important;
  /*max-width: 160px;*/
}

#owl-produtos-08 img{
  max-height: 124px !important;
  max-width: 230px !important;
}

#owl-produtos-09 img{
  max-height: 225px !important;
  max-width: 294px !important;
}


#descricao-indrodutoria2{
  font-family: 'Cabin', sans-serif;
  font-size: 13pt;
}

#catalogo{
  font-family: 'Cabin', sans-serif;
  font-size: 12pt;

}



.linhaDivisoria{
  height: 10px;
  background: linear-gradient(90deg, #324569 50%, #E53739 50%);
}


/*Fim da seção 3*/



/* /////////////////////
Seção 4 - Serviços
//////////////////////*/
#section4 {height:800px;color: #000; background-color: #F0F8FF;}/*Serviços 00bcd4  009688 6A80B6*/

div#servicos_topo{
  margin-top: 80px;
  font-family: 'Cabin', sans-serif;
  font-size: 11.5pt;
  color: #000;
}

.imgServicos{
  max-width: 900px;
}

p#pservicos{
  margin-top: 50px;
  font-family: 'Cabin', sans-serif;
  font-size: 12pt;
}

div#demo1,#demo2,#demo3,#demo4,#demo5{
  margin-top: 10px;
}

div#collapse_servicos{
  margin-top: 20px;
}

.servicosPrincipal{
  margin-bottom: 20px;
}
/*Fim da seção 4*/



/* /////////////////////
Seção 5 - Fornecedores
//////////////////////*/
#section5 {height: auto!important; padding:0px; color: #fff; background-color: #ffffff;}/*Carousel*/

/* Carousel*/
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
  background-color: #2B4F7D;
}

.carousel .item {
  background-color: #2B4F7D;
}

.carousel-inner {
  /*border-radius: 15px;*/
}

.carousel-caption {
  z-index: 10;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
/*Animação*/
.slide_carousel{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.slide_carousel2{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
}

/* Carousel - Fornecedores*/

/*Fim da seção 5*/



/* /////////////////////
Seção 6 - Localização
//////////////////////*/
#section6 {height:650px;color: #000; background-color: #fff;}/*Localização*/

div#localizacao_topo{
  margin-top: 80px;  
}

div#divmaps{
  width: 100%;
  margin-top: 20px;
}

.maps{
  width: 50%;
  pointer-events: none;
  border-radius: 5px;
}

.clicked{
  width: 50%;
  pointer-events: auto;
}

div#endereco{
  width: 50%;
  float: right;
   margin-top: 150px;
}

div#endereco p{
  font-family: 'Cabin', sans-serif; 
  font-size: 15pt;
  margin-bottom: 0px;
  align-content: center;
}




/*Fim da seção 6*/



/* /////////////////////
Seção 7 - Contato
//////////////////////*/
#section7 {height:auto;color: #000; background-color: #fff;}/*Fale conosco*/

div#formulario{
  margin-top: 80px;
  margin-bottom: 40px;
}
/*Fim da seção 7*/

p#sucessoEnvio{
  margin-top: 20px;
  font-family: 'Cabin';
  font-size: 13pt;
  
}

span.glyphicon-ok{
  color: #4AAE52;
}

.labelForm{
  color: #000000 !important;
}

/* /////////////////////
Seção 8 - Rodapé
//////////////////////*/
#section8 {height:250px; background-color: #282828; overflow: hidden;position: relative;} /*2A4B76 -> 1C1C1C 313431 #282828<-*/

div#footer{
  z-index: 1;
  color: #fff;
  max-width: 300px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.redTop{
  position: relative;
  z-index: 1!important;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

span.glyphicon-chevron-up {
    font-size: 1.6em;
}

p.textoRodape{
  position: relative;
  font-family: 'Cabin';
  font-size: 12pt;
}

#socialf{
  width: 300px;
  text-align: center;
  z-index: 1;
  /*margin-right: auto;
  margin-left:auto;*/
}


img.nodesRodape{
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s;
  
}

#section8:hover img.nodesRodape {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}





/*Fim da seção 8*/





div#produtos_topo{
  margin-top: 80px;
  font-family: 'Cabin', sans-serif;  
}




.recuo{
  text-indent:4em;
}
